{% extends 'admin.twig' %}
{% block content %}
    <strong>Hello world!</strong>
    <br />
    The answer to life is {{ answerToLife }}
    <div vue-entry="VueExample.TestVue"
         content-title="{{ 'VueExample_MyTitle'|translate }}"></div>
{% endblock %}